version: "3.9"

networks:
  app_net:
    driver: bridge

services:
  nginx:
    image: nginx:${NGINX_VERSION}
    container_name: nginx
    restart: unless-stopped
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
#      - ./nginx/logs:/var/log/nginx
    networks:
      - app_net
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

  mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: mysql
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/conf:/etc/mysql/conf.d
    networks:
      - app_net
    logging:
      driver: json-file
      options:
        max-size: "20m"
        max-file: "5"

  redis:
    image: redis:${REDIS_VERSION}
    container_name: redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    command: >
      redis-server
      --appendonly yes
      --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis/data:/data
    networks:
      - app_net
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
